.main
  .main__sidebar
    .main__sidebar__top
      %P
        =current_user.name

      = link_to new_group_path do
        %i#settei.fas.fa-edit

      = link_to edit_user_path(current_user) do
        %i#touroku.fas.fa-cog

    .main__sidebar__group
      %ul
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            %li.name
              = group.name
            %li.text
              メッセージはまだありません


  .main__chat
    .main__chat__home
      .main__chat__home__group
        %p takai.akira
      .mein__chat__home__name
        %p menber : takai
      .main__chat__home__edit
        =link_to "EDIT"


    .main__chat__sub
      %ul
        %li.name takai akira
        %li.date 2018/2/24
        %br
        %li.body こんにちわ
      %ul
        %li.name yamada tarou
        %li.date 2018/2/25
        %br
        %li.body また明日
    .main__chat__submit
      =form_tag()do
        %textarea{name: "text"}
        %label.form-check-label
          %input.form-check-input{type: 'file', }
          %span.label-name
        %button{type: "submit"}sent
