%ul
  %li.name
    = message.user.name
  %li.date
    = message.created_at.strftime('%Y/%m/%d')
  %br
  %li.body
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
