.header
.main.clear
  .main__sidebar
    .main__sidebar__top
      %p takai.akira
      %i#settei.fas.fa-edit
      %i#touroku.fas.fa-cog
    .main__sidebar__group
      .main__sidebar__group__name1
        samplegname1
      .main__sidebar__group__message1
        sampleword1
      .main__sidebar__group__name2
        samplegname2
      .main__sidebar__group__message2
        sampleword2
      .main__sidebar__group__name3
        samplegname3
      .main__sidebar__group__message3
        sampleword3
  .main__chat
    .main__chat__home
      .main__chat__home__group
        %p takai.akira
      .mein__chat__home__name
        %p menber : takai
      .main__chat__home__edit
        %a.square_btn{:href => "#"} EDIT


    .main__chat__sub
      %ul
        %li.name takai akira
        %li.date 2018/2/24
        %br
        %li.body こんにちわ
      %ul
        %li.name yamada tarou
        %li.date 2018/2/25
        %br
        %li.body また明日
    .main__chat__submit
      = form_tag()do
        %textarea{:cols => "100", :name => "text",:rows => "3",:size =>"900"}
        %input{:type => "submit", :value => "SENT"}








