.header
.main
  .main__sidebar
    .main__sidebar__top
      %p takai.akira
      %i#settei.fas.fa-edit
      %i#toukou.fas.fa-cog
    .main__sidebar__group
      %ul
        %li 高井
        %li こんにちわ
      %ul
        %li 高井
        %li こんばんわ

  .main__chat


