@import "./reset";
@import "./variable";
$h-color: #38AEF0;
$topbar-color: #253141;
$bar-tcolor: #ffffff;
$bar-color: #2f3e51;
$chat-tcolor: #333333;
$chat-t2color:#999999;
$chat-t3color:#434A54;
$chat-color:#aaaaaa;

html,
body{
height: 100%;
}

.header{
  height: 50px;
  width: 100%;
  background-color: $h-color;
}



.main{
  height: 100%;
  width: 100%;
  .
  }
