@import "./reset";
@import "./variable";
@import "./font-awesome";
$h-color: #38AEF0;
$topbar-color: #253141;
$bar-tcolor: #ffffff;
$bar-color: #2f3e51;
$chat-tcolor: #333333;
$chat-t2color:#999999;
$chat-t3color:#434A54;
$chat-color:#aaaaaa;

html,
body{
height: 100%;
}

.header{
  height: 50px;
  width: 100%;
  background-color: $h-color;
}



.main{
  height: 100%;
  width: 100%;
  &__sidebar{
    height:100%;
    width: 300px;
    background-color: $bar-color;
    float: left;
      &__top{
        height: 51px;
        background-color: $topbar-color;
        position: relative;
             }
      &__top p{
        color: $bar-tcolor;
        position:absolute;
        bottom: 0;
        left:20px;
              }
      &__top i#settei{
        color: $bar-tcolor;
        position:absolute;
        bottom: 0;
        right: 20px;
        font-family:FontAwesome;
                     }
      &__top i#toukou{
        color: $bar-tcolor;
        position:absolute;
        bottom: 0;
        right: 40px;
        font-family:FontAwesome;
                     }
             }
  &__chat{
    height:100%;
    width: calc(100% - 300px);
    background-color: $chat-color;
    float: left;

        }
  }
