@import "./reset";
@import "./variable";
@import "./font-awesome";
$h-color: #38AEF0;
$topbar-color: #253141;
$bar-tcolor: #ffffff;
$bar-color: #2f3e51;
$chat-tcolor: #333333;
$chat-t2color:#999999;
$chat-t3color:#434A54;
$chat-color:#eeeeee;
$chat-border-color:#AAAAAA;


html,
body{
height: 100%;
}

.header{
  height: 50px;
  width: 100%;
  background-color: $h-color;
}



.main{
  height: 100%;
  width: 100%;

  &__sidebar{
    height:100%;
    width: 300px;
    background-color: $bar-color;
    float: left;
    overflow:hidden;

      &__top{
        height: 86px;
        background-color: $topbar-color;
        position: relative;
        padding: 0 20px 0 20px;}


      &__top p{
        color: $bar-tcolor;
        font-size: 16px;
        padding-top: 35px;
        font-weight: bold;
              }

      &__top i#settei{
        color: $bar-tcolor;
        position:absolute;
        bottom: 35px;
        right: 20px;
        font-family:FontAwesome;
                     }
      &__top i#touroku{
        color: $bar-tcolor;
        position:absolute;
        bottom: 35px;
        right: 40px;
        font-family:FontAwesome;
                     }
      &__group{
        padding: 0 20px 0 20px;


        &__name1{
          padding-top: 20px;
          color: $bar-tcolor;
          font-size: 15px;
                }
        &__message1{
          padding-top: 5px;
          color: $bar-tcolor;
          font-size: 11px;
                   }
        &__name2{
          padding-top: 40px;
          color: $bar-tcolor;
          font-size: 15px
                }
        &__message2{
          padding-top: 5px;
          color: $bar-tcolor;
          font-size: 11px;
                   }
        &__name3{
          padding-top: 40px;
          color: $bar-tcolor;
          font-size: 15px
                }
        &__message3{
          padding-top: 5px;
          color: $bar-tcolor;
          font-size: 11px;
                   }


        }

        }
  &__chat{
    height:100%;
    width: calc(100% - 300px);
    background-color: $chat-color;
    float: right;




    &__home{
      height: 86px;
      width: 100%;
      background-color: white;
      padding: 0 40px 0 40px;
      position: relative;

      &__group p{
        padding-top: 35px;
        font-size: 20px;
                }
      &__name p{
        font-size:12px;
        padding-top: 15px;
                }
      &__edit{
        a.square_btn{
         display: inline-block;
         height: 40px;
         padding: 0 20px;
         line-height:40px;
         text-decoration: none;
         color: #67c5ff;
         border: solid 2px #67c5ff;
         border-radius: 3px;
         transition: .4s;
         position: absolute;
         top:28px;
         right:120px;



                    }
             }









           }
        }




    }

